* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-050: #314b7c; 
    --secondary-050: #ffd580; 
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
}

.global-nav h1 {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    margin-left: 2rem;
    color: #314b7c;
}

.global-nav {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.global-nav .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.global-nav .menu ul a {
    color: var(--primary-050);
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    padding: 1.5rem;
    transition: color,background-color 0.3s;
    border-right: 1px solid var(--dark-012);
}
.global-nav .menu ul li:last-child a {
    border-right: none;
}

.global-nav .menu ul a:hover {
    background-color: #314b7c;
    color: white;
}

#sec1 {
    background-image: url("sky.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#sec1 h1{
    text-align: center;
    background: -webkit-linear-gradient(rgb(143, 195, 255), rgb(40, 85, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
   
#sec1 p{
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(143, 195, 255), rgb(40, 85, 131));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sec2{
    height: 100vh;
}

#sec2 h2{
    
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
    justify-content: center;
    font-size: 3em;
}

#sec2 .works ul{
    display: flex;
    justify-content: space-around;
}

#sec2 .setumei ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#sec3 {
    height: 100vh;
    text-align: center;
}

#sec3 h2{
    text-align: center;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    font-size: 3em;
}


.works ul li{
    list-style: none;
    display: inline-block;
}

.works ul li img{
    height: 240px;
    width: 320px;
}

.slider-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .slider-controller ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  /*#sc-to-left,
  #sc-to-right {
  display: inline-block;
  font-size: 2rem;
  width: 120px;
  line-height: 3em;
  background-color: rgba(12, 12, 12, 0.726);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.75;
}